/** 현제 css는 회원가입용 css로서 모든 id의 함수를 signup을 붙여 만들었다.*/
* {
  margin: 0;
  padding: 0;
}
/** 웹의 사이즈 지정 및 background에 2가지색을 그라데이션으로 삽입(linear-gradient)to right를 사용하여 #FFDAB9부터 오른쪽에서 진행*/
#root {
  width: 1920px;
  height: 1080px;
  background: linear-gradient(to right, #FFDAB9, #ffffff);
}
/** header에 크기지정 및 색 지정 rgba를 사용하여 투명도를 조절하였다.*/
#root > header{
  width: inherit;
  height: 70px;
  background-color: rgba(210, 105, 30, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/** 사이트명 폰트 크기 지정 및 위치 지정*/
#root > header > .logo{
  color: white;
  font-size: 48px;
  margin-left: 20px;
  text-decoration: none;
}
/** flex-direction의 경우 축과 방향을 지정한다*/
#root > header > .sign{
  display: flex;
  flex-direction: row;
}
/** a 태그를 사용하여 하이퍼링크를 걸고 text-decoration으로 하단의 줄을 제거*/
#root > header > .sign > a{
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}
/** 로그인 버튼의 크기와 모양 flex를 이용한 위치 정렬*/
#root > header > .sign > a > div{
  width: 130px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
/** 주요 내용이 들어갈 컨테이너, 크기와 flex로 정렬 방식을 바꾸었다*/
main{
  width: inherit;
  height: 1010px;
  display: flex;
}
/** 이미지가 삽입될 signupImg가 들어갈 공간크기 할당 및 가운데로 위치지정을 위한 flex를 사용하였다.*/
#signupImgSector{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/** 이미지의 크기와 모양 변경*/
#signupImg {
  width: 700px;
  height: 800px;
  border-radius: 20px;
}
/** 작성할 텍스트들이 삽입될 signupText의 공간크기 할당 및 가운데로 위치지정을 위한 flex사용*/
#signupTextSector {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** 작성할 텍스트들의 공간 할당*/
#signupText{
  width: 700px;
  height: 700px;
}
/** 텍스트들의 모양과 크기, 폰트 사이즈를 정함 background에 none을 넣음으로서 뒷배경을 투명하게 변경 border로 태두리 제거및 border-bottom을 사용함으로서 하단에 선을 생성하여 각 택스트를 구분함*/
.userInfo {
  width: 600px;
  height: 50px;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  font-size: 24px;
  background: none;
}
/** 작성한 내용들을 전송할 버튼*/
#submit{
  width: 600px;
  height: 100px;
  margin-top: 50px;
  border-radius: 50px;
  background-color: white;
  font-size: 24px;
}